av==18.1.0
fastapi==0.141.1
librosa==1.0.0
matplotlib==3.11.1
numpy==2.5.2
Pillow==12.3.0
Requests==2.34.2
soundfile==0.14.0
streamlit==1.62.0
torch==2.13.0
transformers==5.16.1
uvicorn==0.52.4
opencv-python